CLOUDFLARE_TUNNEL_TOKEN=your_token_here

PORKBUN_API_KEY=your_token_here
PORKBUN_SECRET_KEY=your_token_here

LITELLM_MASTER_KEY=your_token_here
LLM_API_KEYS=your_token_here

# Proxmox / SSH Settings
PVE1_IP=192.168.0.100
PVE2_IP=192.168.0.101
ORACLE_IP=152.67.4.197